<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Motor</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li><a href="#editor">Editor</a></li>
        <li><a href="#library">Library</a></li>
        <li><a href="#community">Community</a></li>
        <li><a href="#workflow">Workflow</a></li>
        <li><a href="#quality">Quality</a></li>
        <li><a href="#modules">Modules</a></li>
        <li><a href="#context">Context</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://monoapps.co">MoNoApps</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#showcases">User Cases</a></li>
            <li class="divider"></li>
            <li><a href="#contributors">Contributors</a></li>
            <li class="divider"></li>
            <li><a href="#alpha">Alpha Version</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <h1>Motor: Rules As A Service</h1>
    <p>
      Motor is the next generation of Rules Engine. Motor is your functions service provider. Manage your standalone functions
      online. Manage workflows for package them. Share your functions with other users. Integration with external services.
      Transparency step by step. Thousands of libraries ready to use.

    </p>
    <p><a class="btn btn-primary btn-lg">Demo comming soon</a></p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1 id="editor">Rules Editor</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="list-group">
        <a href="" class="list-group-item active">
            Online Editor
          </a>
        <a href="" class="list-group-item">Intellisence
          </a>
        <a href="" class="list-group-item">Syntax highlight
          </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <a href="" class="list-group-item active">
            Function Definition
          </a>
        <a href="" class="list-group-item">Params
          </a>
        <a href="" class="list-group-item">Body
          </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <a href="" class="list-group-item active">
            Data Management
          </a>
        <a href="" class="list-group-item">Input
          </a>
        <a href="" class="list-group-item">Ouput
          </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1 id="library">Private Library</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="list-group">
        <a href="" class="list-group-item active">
            Version Management
          </a>
        <a href="" class="list-group-item">Current
          </a>
        <a href="" class="list-group-item">History
          </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <a href="" class="list-group-item active">
            Categories
          </a>
        <a href="" class="list-group-item">Named Categories
          </a>
        <a href="" class="list-group-item">Subcategories
          </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <a href="" class="list-group-item active">
            Status Management
          </a>
        <a href="" class="list-group-item">Stable
          </a>
        <a href="" class="list-group-item">Developmen 
          </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1 id="community">Community Library</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="list-group">
        <a href="" class="list-group-item active">
            Usage Indicator
          </a>
        <a href="" class="list-group-item">Most Used
          </a>
        <a href="" class="list-group-item">Forks
          </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <a href="" class="list-group-item active">
            Perception
          </a>
        <a href="" class="list-group-item">Most Starred
          </a>
        <a href="" class="list-group-item">Comments
          </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <a href="" class="list-group-item active">
            Improvement
          </a>
        <a href="" class="list-group-item">Discuss
          </a>
        <a href="" class="list-group-item">Code Revision 
          </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1 id="workflow">Workflow Manager</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="list-group">
        <a href="" class="list-group-item active">
            Data Source
          </a>
        <a href="" class="list-group-item">External API
          </a>
        <a href="" class="list-group-item">Schedule
          </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <a href="" class="list-group-item active">
            Data Process
          </a>
        <a href="" class="list-group-item">Add Rules
          </a>
        <a href="" class="list-group-item">Modify Rules
          </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <a href="" class="list-group-item active">
            Data Ouput
          </a>
        <a href="" class="list-group-item">Publish
          </a>
        <a href="" class="list-group-item">Export 
          </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1 id="quality">Rules Quality</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="list-group">
        <a href="" class="list-group-item active">
            Rule Definition
          </a>
        <a href="" class="list-group-item">Problem Solving
          </a>
        <a href="" class="list-group-item">Rule Coding
          </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <a href="" class="list-group-item active">
            Rule Testing
          </a>
        <a href="" class="list-group-item">Data Test
          </a>
        <a href="" class="list-group-item">Rule Hardening
          </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <a href="" class="list-group-item active">
            Rule Approval
          </a>
        <a href="" class="list-group-item">Examinators
          </a>
        <a href="" class="list-group-item">Certificators
          </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1 id="modules">Modules Injector</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="list-group">
        <a href="" class="list-group-item active">
            NPM Modules
          </a>
        <a href="" class="list-group-item">Package
          </a>
        <a href="" class="list-group-item">Alias
          </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <a href="" class="list-group-item active">
            JS Libs
          </a>
        <a href="" class="list-group-item">Custom Libraries
          </a>
        <a href="" class="list-group-item">External Libraries
          </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <a href="" class="list-group-item active">
            Ambient Libraries
          </a>
        <a href="" class="list-group-item">Inner Functions
          </a>
        <a href="" class="list-group-item">Inner Objects
          </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1 id="context">Context Definition</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a href="" class="list-group-item active">
            Default Params
          </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="list-group">
        <a href="" class="list-group-item active">
            Input Data
          </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="list-group">
        <a href="" class="list-group-item active">
            Expected Conditions
          </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="list-group">
        <a href="" class="list-group-item active">
            Upgrade Warnings
          </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1 id="about">About Us</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      We are a group of creative developers.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1 id="showcases">User Cases</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#show-maths" data-toggle="tab">Mathematics</a></li>
        <li><a href="#show-stats" data-toggle="tab">Statistics</a></li>
        <li><a href="#show-physics" data-toggle="tab">Physics</a></li>
        <li><a href="#show-securities" data-toggle="tab">Securities</a></li>
        <li><a href="#show-iot" data-toggle="tab">IoT</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade  active in" id="show-maths">
          <p>Write complex funtions to solve mathematical problems.</p>
        </div>
        <div class="tab-pane fade" id="show-stats">
          <p>Import data to be analized, generate result tables with ranges and prepare them to be in a graph.</p>
        </div>
        <div class="tab-pane fade" id="show-physics">
          <p>Solve comon problems with predefined functions for gravity, velocity, acceleration and dynamics.</p>
        </div>
        <div class="tab-pane fade" id="show-securities">
          <p>Calculate the revenue and monthly payments to your employees.</p>
        </div>
        <div class="tab-pane fade" id="show-iot">
          <p>Analize what your devices are telling you with data. Be proactive and receive alerts.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1 id="contributors">Contributors</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="list-group">
        <a href="" class="list-group-item active">People</a>
        <a href="" class="list-group-item"><span class="badge">Developer</span>Daniel Martinez</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <a href="" class="list-group-item active">Companies</a>
        <a href="" class="list-group-item"><span class="badge">Hosting</span>MoNoapps</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <a href="" class="list-group-item active">Donations</a>
        <a href="" class="list-group-item"><span class="badge">$2000</span>MoNoApps</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1 id="alpha">Alpha Version</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        This is an alpha version. Each one of their components can be replaced or modified without. 
        Software is provide as is with any guarantee.
      </p>
      <p>
        In case you found a bug or issue please reported the using the github issue tracking <a href="https://github.com/MoNoApps/motor/issues/new">here</a>
      </p>
    </div>
  </div>
</div>